In [32]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/MLReady/FM_FULL_EPOCH2_MLReady.csv")
df.head()

,Unnamed: 0,origChannel,origIntRate,origUPB,origLTV,numBorrowers,origDebtIncRatio,borrCreditScore,loanPurp,zipCode,...,fmacRateVolatility,fredRate,rateDiffAbove,rateDiffBelow,rateDiffAvg,rateDiffAbovePct,rateDiffBelowPct,rateDiffAvgPct,origYear,origMonth
0,0,2,5.125,348000,87,1,50,689,2,51,...,0.041667,2.87,-0.125,-0.085,-0.005,-0.023810,-0.016865,-0.000975,2009,2
1,1,3,4.625,195000,52,2,54,703,1,82,...,0.041667,2.87,-0.625,0.415,-0.505,-0.119048,0.082341,-0.098441,2009,2
2,2,2,4.875,342000,80,1,54,746,1,981,...,0.041667,2.87,-0.375,0.165,-0.255,-0.071429,0.032738,-0.049708,2009,2
3,3,1,5.375,93000,70,1,50,780,1,496,...,0.041667,2.87,0.125,-0.335,0.245,0.023810,-0.066468,0.047758,2009,2
4,4,1,4.875,182000,76,2,22,802,1,18,...,0.041667,2.87,-0.375,0.165,-0.255,-0.071429,0.032738,-0.049708,2009,2

In [34]:
# Filter to 2010 data
df = df[df['origYear'] == 2010].copy()

In [37]:
dfSuccess = df[df["zeroBalCode"] == 0]
dfNegative = df[df["zeroBalCode"] == 1]

In [39]:
positive = dfSuccess['origYear'].count()
negative = dfNegative['origYear'].count()

negativeLoanValue = dfNegative['origUPB'].sum()
totalAssumed = df['origYear'].count()


print(f"Total loans purchased: {totalAssumed:,}")
print(f"Positive outcomes for Fannie Mae: {positive:,}")
print(f"Negative outcomes for Fannie Mae: {negative:,}")
print(f"Lost money from the negative outcomes: ${negativeLoanValue:,}")

Total loans purchased: 24,040
Positive outcomes for Fannie Mae: 20,698
Negative outcomes for Fannie Mae: 3,342
Lost money from the negative outcomes: $562,838,000

In [ ]:
aggs = df.groupby(["origYear"]).agg({
        'MinutesOpen': [
            np.count_nonzero
            , np.mean
            , np.median
            , np.var
            , np.std
        ]
})
aggs