In [12]:
import pandas as pd
import pickle
import numpy as np

In [13]:
with open('egbTestPkl.pkl', 'rb') as f:
          data = pickle.load(f)

In [14]:
data.shape

(6,)

In [17]:
data = pd.DataFrame(data)

In [18]:
data.head()

                  0
0       origIntRate
1           origUPB
2           origLTV
3  origDebtIncRatio
4       stateNumber