In [1]:
import numpy as np
import pandas as pd
from pycaret.classification import *
from flask import Flask, request, jsonify, make_response

In [2]:

model = load_model('../models/et20200526_2010')

# Holdout data
holdoutData = '../data/DataPre-01-Feature-EEE-2012.csv'

# Random generated data
baseFolder = "../data/RandomSamples"

# Target column
target = 'zeroBalCode'

Transformation Pipeline and Model Sucessfully Loaded

In [3]:
chosenFile = "../data/RandomSamples/testing02.csv"

In [14]:
try:
   data_unseen = pd.read_csv(chosenFile)

except:
    response = jsonify({
        "statusCode": 404,
        "status": f"Unable to find file '{chosen_file}'"
    })
    print(response)

In [19]:
dfPredictions = predict_model(model, data=data_unseen)
# prediction = int(prediction.Label[0])    
# output = prediction.Label[0]

# Remove the previous index column
dfPredictions.drop(['Unnamed: 0'], 1, inplace=True)
dfPredictions.drop(['Unnamed: 0.1'], 1, inplace=True)

In [20]:
dfPredictions.head()

,origChannel,origIntRate,origUPB,origLTV,numBorrowers,origDebtIncRatio,loanPurp,worstCreditScore,bankNumber,stateNumber,mSA,zeroBalCode,Label,Score
0,1,4.125,255000,73,1,30,2,708,80,35,35620,1,0,0.34
1,1,4.750,86000,80,1,23,2,740,80,28,25860,1,1,0.71
2,1,3.990,70000,29,2,35,1,771,54,38,38900,0,0,0.03
3,1,4.250,285000,77,1,44,2,686,54,45,26420,0,0,0.19
4,1,3.875,392000,80,1,38,2,774,8,4,40900,0,0,0.13

In [21]:
dfPredictions.to_json()

'{"origChannel":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":2,"6":1,"7":2,"8":2,"9":1},"origIntRate":{"0":4.125,"1":4.75,"2":3.99,"3":4.25,"4":3.875,"5":4.0,"6":3.5,"7":3.99,"8":3.25,"9":4.125},"origUPB":{"0":255000,"1":86000,"2":70000,"3":285000,"4":392000,"5":404000,"6":315000,"7":150000,"8":170000,"9":165000},"origLTV":{"0":73,"1":80,"2":29,"3":77,"4":80,"5":80,"6":23,"7":50,"8":31,"9":62},"numBorrowers":{"0":1,"1":1,"2":2,"3":1,"4":1,"5":2,"6":2,"7":1,"8":1,"9":1},"origDebtIncRatio":{"0":30,"1":23,"2":35,"3":44,"4":38,"5":43,"6":28,"7":42,"8":38,"9":34},"loanPurp":{"0":2,"1":2,"2":1,"3":2,"4":2,"5":1,"6":2,"7":1,"8":2,"9":2},"worstCreditScore":{"0":708,"1":740,"2":771,"3":686,"4":774,"5":725,"6":807,"7":625,"8":804,"9":712},"bankNumber":{"0":80,"1":80,"2":54,"3":54,"4":8,"5":54,"6":54,"7":54,"8":66,"9":54},"stateNumber":{"0":35,"1":28,"2":38,"3":45,"4":4,"5":4,"6":32,"7":4,"8":4,"9":45},"mSA":{"0":35620,"1":25860,"2":38900,"3":26420,"4":40900,"5":41740,"6":35620,"7":42020,"8":31080,"9":32580},"zeroBalCode":{"0":1,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0},"Label":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0},"Score":{"0":0.34,"1":0.71,"2":0.03,"3":0.19,"4":0.13,"5":0.19,"6":0.03,"7":0.3,"8":0.14,"9":0.19}}'

In [28]:
# Required to use Flask inside Jupyter notebooks
app = Flask(__name__)
my_context = app.app_context()
my_context.push()

json_results = dfPredictions.to_json()
response = jsonify({
    "statusCode": 200,
    "data": json_results
})

In [29]:
response

In [30]:
type(response)

flask.wrappers.Response

In [31]:
response.get_json()

{'data': '{"origChannel":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":2,"6":1,"7":2,"8":2,"9":1},"origIntRate":{"0":4.125,"1":4.75,"2":3.99,"3":4.25,"4":3.875,"5":4.0,"6":3.5,"7":3.99,"8":3.25,"9":4.125},"origUPB":{"0":255000,"1":86000,"2":70000,"3":285000,"4":392000,"5":404000,"6":315000,"7":150000,"8":170000,"9":165000},"origLTV":{"0":73,"1":80,"2":29,"3":77,"4":80,"5":80,"6":23,"7":50,"8":31,"9":62},"numBorrowers":{"0":1,"1":1,"2":2,"3":1,"4":1,"5":2,"6":2,"7":1,"8":1,"9":1},"origDebtIncRatio":{"0":30,"1":23,"2":35,"3":44,"4":38,"5":43,"6":28,"7":42,"8":38,"9":34},"loanPurp":{"0":2,"1":2,"2":1,"3":2,"4":2,"5":1,"6":2,"7":1,"8":2,"9":2},"worstCreditScore":{"0":708,"1":740,"2":771,"3":686,"4":774,"5":725,"6":807,"7":625,"8":804,"9":712},"bankNumber":{"0":80,"1":80,"2":54,"3":54,"4":8,"5":54,"6":54,"7":54,"8":66,"9":54},"stateNumber":{"0":35,"1":28,"2":38,"3":45,"4":4,"5":4,"6":32,"7":4,"8":4,"9":45},"mSA":{"0":35620,"1":25860,"2":38900,"3":26420,"4":40900,"5":41740,"6":35620,"7":42020,"8":31080,"9":32580},"zeroBalCode":{"0":1,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0},"Label":{"0":0,"1":1,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0},"Score":{"0":0.34,"1":0.71,"2":0.03,"3":0.19,"4":0.13,"5":0.19,"6":0.03,"7":0.3,"8":0.14,"9":0.19}}',
 'statusCode': 200}