In [2]:
import pandas as pd
pd.set_option('display.max_rows', 25)
pd.set_option('display.max_columns', 50)

import numpy as np

from sklearn.model_selection import train_test_split

sourcedata = '../data/EpochData.csv'

import winsound

# Tell Jupyter to display all text, not just "the last" and print()
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

%pwd

def DoneNotice(duration_ms = 1000):
    duration = duration_ms  # milliseconds
    freq = 440  #Hz
    winsound.Beep(freq, duration)

from IPython.display import Markdown, display
def Important(html_tag, message, color):
    colorstr = f"<{html_tag} style='color:{color}'>{message}</{html_tag}>"
    display(Markdown(colorstr))

'C:\\Users\\Scott\\Desktop\\Project3_2\\Scott\\ML EDA'

In [3]:
%%time 

# Load the full Epoch 2 dataset
dfFull = pd.read_csv(sourcedata)

DoneNotice(100)

Important("h1", "Full dataset loaded into `dfFull`", 'blue')
rows, cols = dfFull.shape
print(f'Full dataset has {rows:,} rows with {cols:,} columns/features')

<h1 style='color:blue'>Full dataset loaded into `dfFull`</h1>

Full dataset has 22 rows with 3 columns/features
Wall time: 113 ms

In [4]:
dfFull

     Epoch   Year    Rows
0   Epoch1   1999    6166
1   Epoch1   2000   39608
2   Epoch1   2001  158186
3   Epoch1   2002  159773
4   Epoch1   2003  264409
5   Epoch1   2004   95735
6   Epoch1   2005  110426
7   Epoch1   2006   95627
8   Epoch1   2007  124195
9   Epoch1   2008   63841
10  Epoch2   2009   53126
11  Epoch2   2010   24040
12  Epoch2   2011   14976
13  Epoch2   2012   19195
14  Epoch2   2013    8359
15  Epoch3   2013    1603
16  Epoch3   2014    9596
17  Epoch3   2015    9689
18  Epoch3   2016    7618
19  Epoch3   2017    4470
20  Epoch3   2018    2301
21  Epoch3   2019     111

In [9]:
gb = dfFull.groupby(['Epoch']).sum()
gb.head()

         Year     Rows
Epoch
Epoch1  20035  1117966
Epoch2  10055   119696
Epoch3  14112    35388